@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'depixelbreit';
  src: url('./assets/fonts/depixelbreit.woff') format('woff');
}

@font-face {
  font-family: 'depixelhalbfett';
  src: url('./assets/fonts/depixelhalbfett.woff') format('woff');
}

*{
  font-family: 'depixelbreit';
}

